.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* margin-right: 200px; */
}
.login-page .login-form {
  display: flex;

  width: 80%;
  flex-direction: column;
  gap: 1rem;
}
.login-page .login-form input {
  border: 1px solid #004f8c;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
}
.logindetails {
  border: 1px solid #004f8c;
  padding: 1rem;
}
.logindetails p {
  text-align: start;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border: 1px solid #004f8c;
  padding: 1rem;
}
.logindetails p span {
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
  .login-page {
    width: 600px;
    margin-right: 200px;
    align-items: center;
  }
}
