.bug-list-container,
.buglist-tabel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.filter-search select {
  width: 30%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.filter-search input {
  width: 70%;
  border: 1px solid #004f8c;
  outline: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.action-button img {
  color: #004f8c;
  margin: 0.2rem;
  border-radius: 0.5rem;
}
.action-button img:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #090979;
}
