@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --border-color: rgba(128, 128, 128, 0.338);
  --box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
button {
  border: none;
  outline: none;
  background-color: #004f8c;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
button:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #090979;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.fullscreen-table {
  width: 100%;

  box-shadow: 0px 0px 5px 0px gray;
  border-radius: 0.5rem;
  border-collapse: collapse;
}
table {
  border-collapse: collapse;
  box-shadow: var(--box-shadow);
  border-radius: 1rem;
  table-layout: fixed;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
td:hover {
  overflow: visible;
  height: auto;
}
th,
td {
  padding: 0.5rem;
  height: 3rem;
  border-left: 1px solid rgba(128, 128, 128, 0.338);
  border-bottom: 1px solid rgba(128, 128, 128, 0.415);
}
th:first-child,
td:first-child {
  border-left: none;
}

table tbody tr:last-child td {
  border-bottom: none;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.small-screen-hide {
  display: none;
}
.active {
  background-color: #090979;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.hide-smallscreen {
  display: none;
}

.blur {
  filter: blur(4px);
  pointer-events: none;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  z-index: 1001;
  display: flex;
  box-shadow: var(--box-shadow);
  flex-direction: column;
  gap: 1rem;
}
.modal input,
.modal select {
  border: 1px solid #004f8c;
  padding: 0.5rem;
  outline: none;
  border-radius: 0.5rem;
}

@media screen and (min-width: 800px) {
  .hide-smallscreen {
    display: table-cell;
  }
  .modal {
    width: 500px;
  }
}

@media screen and (min-width: 900px) {
  .modal {
    width: 600px;
    gap: 1.5rem;
  }
  .modal input,
  .modal select {
    padding: 0.8rem;
  }
}
