.layout-container {
  width: 100%;
  height: 100vh;
  /* display: flex; */
}

.sidebar-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.main-content {
  padding: 5rem 1rem 1rem 1rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .main-content {
    margin-left: 200px;
  }
}
