.report-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 2rem;
  margin-top: 2rem;
}
.report-container .chart-container {
  width: 300px;
}

@media screen and (min-width: 900px) {
  .report-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 1rem;
    row-gap: 3rem;
  }
}
@media screen and (min-width: 1260px) {
  .report-container {
    column-gap: 5rem;
    row-gap: 5rem;
  }
  .report-container .chart-container {
    width: 400px;
  }
}
